[submodule "metroUi"]
	path = metroUi
	url = https://github.com/corexero-devs/metro-core.git
[submodule "sutradhar"]
	path = sutradhar
	url = https://github.com/corexero-devs/SutraDhar.git
[submodule "nativeLib"]
	path = nativelib
	url = https://github.com/corexero-devs/NativeLib_Android.git
